<div th:fragment="alert" xmlns:th="https://www.thymeleaf.org">
    <div id="success" style="white-space: pre-line" th:if="${success}">
        <span th:text="${success}">Úspěch.</span>
        <script>
            setTimeout(function () {
                document.getElementById('success').style.display = 'none'
            }, 10000);
        </script>
    </div>
    <div id="warn" style="white-space: pre-line" th:if="${warning}">
        <span th:text="${warning}">Varování.</span>
        <script>
            setTimeout(function () {
                document.getElementById('warn').style.display = 'none'
            }, 10000);
        </script>
    </div>
    <div id="error" style="white-space: pre-line" th:if="${error}">
        <span th:text="${error}">Chyba.</span>
        <script>
            setTimeout(function () {
                document.getElementById('error').style.display = 'none'
            }, 10000);
        </script>
    </div>
</div>

