<nav th:fragment="header" xmlns:th="https://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div>
        <a href="#" th:title="#{menu.back}">DDRapp</a>
        <div>
            <div th:unless="__${#locale.language}__ == 'cs'">
                <a href="#"
                   th:href="${@urlBuilder.replaceQueryParam('lang', 'cs').toUriString()}">
                    cs</a>
            </div>
            <div th:unless="__${#locale.language}__ == 'en'">
                <a href="#"
                   th:href="${@urlBuilder.replaceQueryParam('lang', 'en').toUriString()}">
                    en</a>
            </div>
        </div>
        <div id="navbarSupportedContent" sec:authorize="isAuthenticated()">
            <div><a href="#"
                    th:href="@{/easy/list/measurements(byEntity='user', byId=${#authentication.name}, byAcronym=${#authentication.name}, activeOnly='true')}"
                    th:text="#{measurement.view}">
                Zobrazit měření</a>
            </div>
            <div><a href="#"
                    th:href="@{/easy/registration/measurement(byEntity='user', byId=${#authentication.name}, byAcronym=${#authentication.name})}"
                    th:text="#{measurement.start}">
                Spustit měření</a>
            </div>
            <form action="#" method="POST"
                  th:action="@{/logout}">
                <button th:text="#{button.logout}" type="submit">Odhlásit se</button>
            </form>
        </div>
    </div>
</nav>
