<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>DDRapp - Start a measurement</title>
    <link href="../../static/css/easy.css" rel="stylesheet" th:href="@{/css/easy.css}"
          type="text/css">
     <link href="../../static/css/easy-altered.css" rel="stylesheet" th:href="@{/css/easy-altered.css}"
            type="text/css">
    <title>DDRapp - Start a measurement</title>
</head>
<nav th:replace="~{easy/header :: header}">
    Header
</nav>
<body>
<div>
    <div>
        <div>
            <form action="#" method="post"
                  onsubmit="concatenateTags()"
                  th:action="@{/easy/registration/measurement}"
                  th:object="${measurement}">
                <div th:replace="~{fragments/alert :: alert}">
                    <span>Alert</span>
                </div>
                <fieldset>
                    <legend th:text="#{measurement.form_title.start}">Spuštění měření</legend>
                    <input readonly required th:id="id.repetition" th:name="id.repetition" th:value="1" type="hidden">
                    <div>
                        <span>
                            <strong th:text="#{entity.acronym}">Akronym</strong>
                        </span>
                        <input aria-label="Acronym" maxlength="64" pattern="[a-zA-Z0-9\-]+"
                               th:field="*{acronym}"
                               th:placeholder="#{form.acronym_or_tag}"
                               title="Use only Latin characters, numbers or hyphens.&#13;&#10;Použij pouze latinku, číslice nebo krátkou pomlčku."
                               type="text">
                    </div>
                    <div>
                        <span>
                            <strong th:text="#{dataset.singular}">Dataset</strong>
                        </span>
                        <select aria-label="Measurement instrument"
                                required
                                th:field="*{dataset}">
                            <option th:text="#{form.select_option}" value="">-- vyber z nabídky --</option>
                            <option th:each="choice : ${loadedDatasets}"
                                    th:text="${choice.acronym}" th:value="${choice.id}">
                                Ds1
                            </option>
                        </select>
                    </div>
                    <div>
                        <span>
                            <strong th:text="#{instrument.singular}">Přístroj</strong>
                        </span>
                        <select aria-label="Measurement instrument"
                                required
                                th:field="*{instrument}">
                            <option th:text="#{form.select_option}" value="">-- vyber z nabídky --</option>
                            <option th:each="choice : ${loadedInstruments}"
                                    th:text="${choice.acronym}" th:value="${choice.id}">
                                Ins1
                            </option>
                        </select>
                    </div>
                </fieldset>
                <div>
                    <button th:text="#{button.start}" type="submit">
                        Spustit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>