<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>DDRapp - End a measurement</title>
    <link href="../../static/css/easy.css" rel="stylesheet" th:href="@{/css/easy.css}">
    <link href="../../static/css/easy-altered.css" rel="stylesheet" th:href="@{/css/easy-altered.css}"
          type="text/css">

</head>
<nav th:replace="~{easy/header :: header}">
    Header
</nav>
<body>
<div>
    <div>
        <div>
            <form action="#" method="POST"
                  th:action="@{/easy/action/measurement/end}" th:object="${endingMeasurement}">
                <div th:replace="~{easy/alert :: alert}">
                    <span>Alert</span>
                </div>
                <fieldset>
                    <legend th:text="#{measurement.form_title.end}">Ukončení měření</legend>
                    <input readonly required th:field="*{id.measurementId}" type="hidden">
                    <input readonly required th:field="*{id.repetition}" type="hidden">
                    <div>
                        <span th:text="#{entity.acronym}">Akronym</span>
                        <input aria-label="Acronym" readonly required
                               th:field="*{acronym}"
                               th:value="*{acronym}"
                               type="text">
                    </div>
                    <div>
                        <span th:text="#{dataset.singular}">Dataset</span>
                        <input readonly required th:field="*{dataset}" type="hidden">
                        <input aria-label="Dataset acronym"
                               id="datasetAcronym" name="datasetAcronym"
                               readonly required th:value="*{dataset.acronym}" type="text">
                    </div>
                    <div>
                        <span th:text="#{instrument.singular}">Přístroj</span>
                        <input readonly required th:field="*{instrument}" type="hidden">
                        <input aria-label="Instrument"
                               id="instrumentAcronym" name="instrumentAcronym"
                               readonly required th:value="*{instrument.acronym}" type="text">
                    </div>
                    <div>
                        <span th:text="#{measurement.end}">Konec měření</span>
                        <input aria-label="Instrument"
                               placeholder="yyyy-MM-dd HH:mm:ss"
                               required th:field="*{end}" type="text">
                    </div>
                    <div>
                        <span th:text="#{entity.tags}">Tagy</span>
                        <input aria-label="Tag"
                               maxlength="70" th:field="*{customMetadata['tags']}"
                               th:placeholder="#{form.optional} + ', ' + #{form.comma_separated}"
                               pattern="[a-zA-Z0-9\-\s,]+"
                               title="Vlož tagy oddělené čárkou. Použij pouze latinku, číslice nebo krátkou pomlčku.&#13;&#10;Insert tags comma-separated. Use only Latin characters, numbers or hyphens."
                               type="text">
                    </div>
                </fieldset>
                <div>
                    <button th:text="#{button.end}" type="submit">Ukončit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
