<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>DDRapp - Measurements</title>
    <link href="../../static/css/easy.css" rel="stylesheet" th:href="@{/css/easy.css}">
    <link href="../../static/css/easy-altered.css" rel="stylesheet" th:href="@{/css/easy-altered.css}"
          type="text/css">
    <title>DDRapp - Measurements</title>
</head>
<nav th:replace="~{easy/header :: header}">
    Header
</nav>
<body>
<div class="container-fluid">
    <div class="row p-3 g-2 justify-content-center">
        <div class="col col-md-8 p-5">
            <div th:replace="~{easy/alert :: alert}">
                <span>Alert</span>
            </div>
            <div class="d-flex">
                <div class="h3 p-2 flex-grow-1 bd-highlight">
                    <span th:text="#{measurement.plural}" th:remove="tag">Měření</span>
                    <small class="text-muted" th:text="' ' + #{__${byEntity}__.genitive} + ' ' + ${byAcronym}"
                           th:unless="${byEntity} == 'admin'"> datasetu Ds1</small>
                </div>
                <div class="ps-1 bd-highlight" th:unless="${byEntity} == 'admin'">
                    <a class="btn btn-outline-primary"
                       th:href="@{/easy/registration/measurement(byEntity=${byEntity}, byId=${byId}, byAcronym=${byAcronym})}">
                        Přidat měření
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
                <div class="ps-1 bd-highlight tulswitch" th:if="${showAll}">
                    <div>
                        Vše
                    </div>
                    <a class="btn btn-outline-primary" href="#"
                       th:href="@{/easy/list/measurements(byEntity=${byEntity}, byId=${byId}, byAcronym=${byAcronym}, activeOnly='true')}"
                       th:text="#{button.active}">
                        Aktivní
                    </a>
                </div>
                <div class="ps-1 bd-highlight tulswitch" th:unless="${showAll}">
                    <a class="btn btn-outline-primary" href="#"
                       th:href="@{/easy/list/measurements(byEntity=${byEntity}, byId=${byId}, byAcronym=${byAcronym}, activeOnly='false')}"
                       th:text="#{button.all}">
                        Vše
                    </a>
                    <div>
                        Aktivní
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" th:text="#{entity.creation_date}">Datum vytvoření</th>
                    <th scope="col" th:text="#{entity.acronym}">Akronym</th>
                    <th scope="col" th:text="#{entity.repetition}">Opakování</th>
                    <th scope="col" th:text="#{dataset.singular}">Dataset</th>
                    <th scope="col" th:text="#{instrument.singular}">Přístroj</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="loadedMeasurement : ${loadedMeasurements}">
                    <tr>
                        <td th:text="${#dates.format(loadedMeasurement.start, 'yyyy-MM-dd HH:mm')}">2023-01-22 11:00
                        </td>
                        <td th:text="${loadedMeasurement.acronym}">Measurement1</td>
                        <td th:text="${loadedMeasurement.id.repetition}">1</td>
                        <td th:text="${loadedMeasurement.dataset.acronym}">Ds1</td>
                        <td th:text="${loadedMeasurement.instrument.acronym}">Ins1</td>
                        <td class="text-end dropdown">
                            <div th:if="${loadedMeasurement.getEnd() == null}">
                                    <a class="dropdown-item btn-outline-primary" href="#" role="button"
                                       th:aria-disabled="${#authentication.name} != ${loadedMeasurement.user.email}"
                                       th:href="@{/easy/action/measurement/{measurementId}/{repetition}/end(measurementId=${loadedMeasurement.id.measurementId}, repetition=${loadedMeasurement.id.repetition})}"
                                       th:classappend="${#authentication.name} != ${loadedMeasurement.user.email} ? 'disabled' : ''">
                                        <span th:style="${#authentication.name} != ${loadedMeasurement.user.email} ? 'color: grey;' : ''"
                                              th:text="#{button.end}">Ukončit</span>
                                    </a>
                            </div>
                            <div th:unless="${loadedMeasurement.getEnd() == null}">
                                    <a class="dropdown-item btn-outline-primary" href="#" role="button"
                                       th:aria-disabled="${#authentication.name} != ${loadedMeasurement.user.email}"
                                       th:href="@{/easy/action/measurement/{measurementId}/{repetition}/repeat(measurementId=${loadedMeasurement.id.measurementId}, repetition=${loadedMeasurement.id.repetition})}"
                                       th:classappend="${#authentication.name} != ${loadedMeasurement.user.email} ? 'disabled' : ''">
                                        <span th:style="${#authentication.name} != ${loadedMeasurement.user.email} ? 'color: grey;' : ''"
                                              th:text="#{button.repeat}">Opakovat</span>
                                    </a>
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <div class="alert alert-warning" th:if="${loadedMeasurements.isEmpty()}"
                 th:text="${showAll} ? #{measurement.empty_list} : #{measurement.empty_list_active}">
                Žádná měření k zobrazení.
            </div>
        </div>
    </div>
</div>
</body>
</html>
