<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<script th:inline="javascript">
    /*<![CDATA[*/

      //setup dialog params
      function setDlgParams(params, callback) {

        const res = {
          success:       /*[[#{dataset.share.success}]]*/      'ok',
          error:         /*[[#{dataset.share.error}]]*/        'error'
        }

        $('.add').click(function() {
        if (form.checkValidity()) {
            controls.spinBtn('fa-add, '.add);

            console.log(params)
            const url='/modification/s3dataset/'+params.bucketName+'+'+params.name+'/addUser';
            var data=$('#dlg-form').serialize();

            $.ajax({
              type: 'POST',
              url: url,
              cache: false,
              contentType: 'application/x-www-form-urlencoded',
              processData: false,
              data: data,
              success: function (data) {
                    console.log(data);
                    controls.unspinBtn('fa-add', '.add');
                    controls.messageShow(MSG_OK, 5000, res.success);
                    controls.dlgClose('dlg-sharetul');
                    callback();
              },
              error: function (error) {
                controls.unspinBtn('fa-save', '.save');
                controls.messageShow(MSG_ERROR, 25000, res.error+'<br><pre>'+error.status+', '+error.message+'</pre>');
              }
            })
        }
        else
            $('#dlg-user #dlg-form').addClass('was-validated');
        });
      }
</script>

<!-- Modal -->
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header" style='justify-content: flex-start;'>
            <button type="button" class='btn px-2 py-1' style='border: none; font-size: 18px;' data-dismiss="modal"
                    aria-label="Close">
                <span aria-hidden="true"><b>&#x2329;</b></span>
            </button>
            <h5 class="modal-title" style='margin-left: 10px; margin-top: 5px;' th:text="#{dataset.singular}"></h5>
        </div>
        <div class="modal-body">
            <form id='dlg-form' class='container form-horizontal needs-validation p-0' novalidate
                  th:object="${userToAdd}">
                <div th:replace="~{fragments/alert :: alert}">
                    <span>Alert</span>
                </div>
                <fieldset>
                    <legend th:text="#{user.add} + ' ' + #{__${entity}__.dative}">Přidání uživatele k datasetu</legend>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4" th:text="#{user.singular}">
                            Uživatel
                        </span>
                        <select aria-label="Operator" class="form-select"
                                required th:field="*{email}">
                            <option th:each="loadedUser : ${loadedUsers}"
                                    th:text="${loadedUser.email}" th:value="${loadedUser.email}">
                                pepa@tul.cz
                            </option>
                        </select>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-fixed cancel" data-dismiss="modal">
                <i class='fa-solid fa-xmark'></i>
                <span th:text="#{button.cancel}"></span>
            </button>
            <button type="button" class="btn btn-primary btn-flash add">
                <i class='fa-solid fa-add'></i>
                <span th:text="#{button.add}"></span>
            </button>
        </div>
    </div>
</div>
