<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<script th:inline="javascript">
    /*<![CDATA[*/

      //setup dialog params
      function setDlgParams(params, callback) {

        const res = {
          success:       /*[[#{user.save.success}]]*/      'ok',
          error:         /*[[#{user.save.error}]]*/        'error'
        }

        $('.save').click(function() {
          const form=$('#dlg-user #dlg-form')[0];

          if (form.checkValidity()) {
            controls.spinBtn('fa-save', '.save');

            const url=/*[[${#authorization.expression('hasRole(''ADMINISTRATOR'')') ? '/modification/user/updateProfile' : '/modification/user/updateProfileRequest'}]]*/ 'url';
            var data=$('#dlg-form').serialize();
            $.ajax({
              type: 'POST',
              url: url,
              cache: false,
              contentType: 'application/x-www-form-urlencoded',
              processData: false,
              data: data,
              success: function (result) {
                controls.unspinBtn('fa-save', '.save');
                controls.messageShow(MSG_OK, 5000, res.success);
                controls.dlgClose('dlg-user');
                callback();
              },
              error: function (error) {
                controls.unspinBtn('fa-save', '.save');
                controls.messageShow(MSG_ERROR, 25000, res.error+'<br><pre>'+error.status+', '+error.message+'</pre>');
              }
            })
          }
          else
            $('#dlg-user #dlg-form').addClass('was-validated');
        });
      }
</script>

<!-- Modal -->
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header" style='justify-content: flex-start;'>
            <button type="button" class='btn px-2 py-1' style='border: none; font-size: 18px;' data-dismiss="modal"
                    aria-label="Close">
                <span aria-hidden="true"><b>&#x2329;</b></span>
            </button>
            <h5 class="modal-title" style='margin-left: 10px; margin-top: 5px;' th:text="#{profile.singular}"></h5>
        </div>
        <div class="modal-body">
            <form id='dlg-form' class='container form-horizontal needs-validation p-0' novalidate
                  th:object="${userProfile}">
                <div class="row input-group pt-1 m-0 align-middle">
                    <label for="tenant" class="col-form-label col-sm-12 col-md-3 mt-2 p-0" th:text="#{user.tenant}">Tenant</label>
                    <div class="col-sm-12 col-md-9 mb-2 px-0">
                        <input class="form-control" readonly th:field="*{tenant}" type="number" min="1"/>
                    </div>
                </div>
                <div class="row input-group pt-1 m-0 align-middle">
                    <label for="email" class="col-form-label col-sm-12 col-md-3 mt-2 p-0"
                           th:text="#{user.email}">Email</label>
                    <div class="col-sm-12 col-md-9 mb-2 px-0">
                        <input class="form-control" readonly th:field="*{email}" type="email"/>
                    </div>
                    <div class="invalid-feedback">Zadejte spravny format emailu</div>
                </div>
                <div class="row input-group pt-1 m-0 align-middle">
                    <label for="einfraid" class="col-form-label col-sm-12 col-md-3 mt-2 p-0">E-infra ID</label>
                    <div class="col-sm-12 col-md-9 mb-2 px-0">
                        <input class="form-control" th:field="*{einfraId}" type="text"/>
                    </div>
                </div>
                <div class="row input-group pt-1 m-0 align-middle">
                    <label for="department" class="col-form-label col-sm-12 col-md-3 mt-2 p-0"
                           th:text="#{entity.department}">Department</label>
                    <div class="col-sm-12 col-md-9 mb-2 px-0">
                        <select class="form-control form-select custom-select" th:field="*{uDepartmentAcronym}">
                            <option th:each="choice : ${T(cz.tul.cxi.ddr.model.auxiliary.DepartmentAcronym).values()}"
                                    th:text="${choice}" th:value="${choice}">
                                department
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row input-group pt-1 m-0 align-middle">
                    <label for="department" class="col-form-label col-sm-12 col-md-3 mt-2 p-0" th:text="#{user.role}">Role</label>
                    <div class="col-sm-12 col-md-9 mb-2 px-0">
                        <select class="form-control form-select custom-select" th:field="*{role}">
                            <option th:each="choice : ${T(cz.tul.cxi.ddr.model.auxiliary.UserRole).values()}"
                                    th:text="${choice.__${#locale.language}__()}" th:value="${choice}">
                                role
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row input-group pt-1 m-0 align-middle">
                    <label for="lang" class="col-form-label col-sm-12 col-md-3 mt-2 p-0"
                           th:text="#{user.lang}">Lang</label>
                    <div class="col-sm-12 col-md-9 mb-2 px-0">
                        <select class="form-control form-select custom-select" th:field="*{lang}">
                            <option value="cs">cs</option>
                            <option value="en">en</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-fixed cancel" data-dismiss="modal">
                <i class='fa-solid fa-xmark'></i>
                <span th:text="#{button.cancel}"></span>
            </button>
            <button type="button" class="btn btn-primary btn-fixed btn-flash save">
                <i class='fa-solid fa-save'></i>
                <span th:text="${#authorization.expression('hasRole(''ADMINISTRATOR'')')} ? #{button.change} : #{button.request_change}"></span>
            </button>
        </div>
    </div>
</div>
