<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<script th:inline="javascript">
    /*<![CDATA[*/

      //setup dialog params
      function setDlgParams(params, callback) {

        const res = {
          success:       /*[[#{instrument.save.success}]]*/      'ok',
          error:         /*[[#{instrument.save.error}]]*/        'error'
        }

        $('.save').click(function() {
          const form=$('#dlg-instrument #dlg-form')[0];

          if (form.checkValidity()) {
            controls.spinBtn('fa-save', '.save');

            const url=/*[[${#authorization.expression('hasRole(''ADMINISTRATOR'')') ? '/modification/instrument/update' : '/modification/instrument/updateRequest'}]]*/ 'url';
            var data=$('#dlg-form').serialize();
            $.ajax({
              type: 'POST',
              url: url,
              cache: false,
              contentType: 'application/x-www-form-urlencoded',
              processData: false,
              data: data,
              success: function (result) {
                controls.unspinBtn('fa-save', '.save');
                controls.messageShow(MSG_OK, 5000, res.success);
                controls.dlgClose('dlg-instrument');
                callback();
              },
              error: function (error) {
                controls.unspinBtn('fa-save', '.save');
                controls.messageShow(MSG_ERROR, 25000, res.error+'<br><pre>'+error.status+', '+error.message+'</pre>');
              }
            })
          }
          else
            $('#dlg-instrument #dlg-form').addClass('was-validated');
        });
      }
</script>

<!-- Modal -->
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header" style='justify-content: flex-start;'>
            <button type="button" class='btn px-2 py-1' style='border: none; font-size: 18px;' data-dismiss="modal"
                    aria-label="Close">
                <span aria-hidden="true"><b>&#x2329;</b></span>
            </button>
            <h5 class="modal-title" style='margin-left: 10px; margin-top: 5px;' th:text="#{instrument.singular}"></h5>
        </div>
        <div class="modal-body">
            <form id='dlg-form' class='container form-horizontal needs-validation p-0' novalidate
                  th:object="${instrument}">
                <fieldset>
                    <div class="input-group mb-3">
                        <label for="id" class="col-form-label col-sm-12 col-md-3 mt-2 p-0">
                            <strong th:text="#{entity.inventory_number}">Inventární číslo</strong>
                        </label>
                        <div class="col-sm-12 col-md-9 mb-2 px-0">
                        <input aria-label="ID" class="form-control m" maxlength="64"
                               pattern="[a-zA-Z0-9\-_]+" readonly
                               th:field="*{id}"
                               title="Only Latin characters, numbers, hyphens and underscores.&#13;Použij pouze latinku, číslice, podtržítko nebo krátkou pomlčku."
                               type="text">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label for="acronym" class="col-form-label col-sm-12 col-md-3 mt-2 p-0">
                            <strong th:text="#{entity.acronym}">Akronym</strong>
                        </label>
                        <div class="col-sm-12 col-md-9 mb-2 px-0">
                        <input aria-label="Acronym" class="form-control" maxlength="16"
                               pattern="[a-zA-Z0-9\-]+"
                               readonly
                               th:field="*{acronym}"
                               title="Only Latin characters, numbers and hyphens.&#10;Použij pouze latinku, číslice nebo krátkou pomlčku."
                               type="text">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label for="nameCZ" class="col-form-label col-sm-12 col-md-3 mt-2 p-0" th:text="#{entity.czech_name}">
                            Název česky
                        </label>
                        <div class="col-sm-12 col-md-9 mb-2 px-0">
                        <input aria-label="Name in Czech" class="form-control" maxlength="255"
                               required
                               th:field="*{nameCZ}"
                               title="Insert name of the instrument in Czech.&#10;Vlož název přístroje v českém jazyce."
                               type="text">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label for="nameEN" class="col-form-label col-sm-12 col-md-3 mt-2 p-0" th:text="#{entity.english_name}">
                            Název anglicky
                        </label>
                        <div class="col-sm-12 col-md-9 mb-2 px-0">
                        <input aria-label="Name in English" class="form-control" maxlength="255"
                               required
                               th:field="*{nameEN}"
                               title="Insert name of the instrument in English.&#10;Vlož název přístroje v anglickém jazyce."
                               type="text">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label for="descriptionCZ" class="col-form-label col-sm-12 col-md-3 mt-2 p-0" th:text="#{entity.czech_description}">
                            Popis česky
                        </label>
                        <div class="col-sm-12 col-md-9 mb-2 px-0">
                        <input aria-label="Description in Czech" class="form-control" maxlength="255"
                               required
                               th:field="*{descriptionCZ}"
                               title="Insert instrument description in Czech.&#10;Vlož popis přístroje v českém jazyce."
                               type="text">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label for="descriptionEN" class="col-form-label col-sm-12 col-md-3 mt-2 p-0" th:text="#{entity.english_description}">
                            Popis anglicky
                        </label>
                        <div class="col-sm-12 col-md-9 mb-2 px-0">
                        <input aria-label="Description in English" class="form-control" maxlength="255"
                               required
                               th:field="*{descriptionEN}"
                               title="Insert instrument description in English.&#10;Vlož popis přístroje v anglickém jazyce."
                               type="text">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label for="image" class="col-form-label col-sm-12 col-md-3 mt-2 p-0" th:text="#{entity.image}">
                            Obrázek
                        </label>
                        <div class="col-sm-12 col-md-9 mb-2 px-0">
                        <input accept="image/jpeg, image/png" class="form-control" id="image" name="image"
                               title="Choose instrument image to upload. Only jpeg or png format.&#10;Zde nahraj obrázek přístroje. Pouze jpeg nebo png formát."
                               type="file">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label for="idepartmentAcronym" class="col-form-label col-sm-12 col-md-3 mt-2 p-0" th:text="#{entity.department}">
                            Oddělení
                        </label>
                        <div class="col-sm-12 col-md-9 mb-2 px-0">
                        <select aria-label="Department"
                                class="form-control form-select custom-select"
                                th:field="*{idepartmentAcronym}">
                            <option th:text="#{form.select_option}" value="">-- vyber z nabídky --</option>
                            <option th:each="choice : ${T(cz.tul.cxi.ddr.model.auxiliary.DepartmentAcronym).values()}"
                                    th:text="${choice}" th:value="${choice}"
                                    title="Select your department.&#10;Vyber své oddělení.">
                                OMI
                            </option>
                        </select>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-fixed cancel" data-dismiss="modal">
                <i class='fa-solid fa-xmark'></i>
                <span th:text="#{button.cancel}"></span>
            </button>
            <button type="button" class="btn btn-primary btn-fixed btn-flash save">
                <i class='fa-solid fa-save'></i>
                <span th:text="${#authorization.expression('hasRole(''ADMINISTRATOR'')')} ? #{button.change} : #{button.request_change}"></span>
            </button>
        </div>
    </div>
</div>
