<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"><title>Placeholder</title></head>

<body>
<nav th:replace="~{fragments/navigation :: navigation(null)}"></nav>
<div class="container">
    <div class="row p-3 g-2 justify-content-center">
        <div class="col col-md-8 p-5">
            <div class="h3" th:text="#{instrument.post_registration.title}">Post-registrační informace</div>
            <div class="p mb-3" th:utext="#{instrument.post_registration.info}">
                Požadavek na registraci přístroje byl uložen a odeslán zodpovědným osobám.<br>
                Podle zadaných informací bude provedeno připojení Vašeho přístroje do privátní sítě.
            </div>
            <div class="d-grid gap-2 mt-3 col-md-6 mx-auto">
                <a class="btn btn-outline-primary"
                   th:href="@{/list/instruments}"
                   th:text="#{instrument.view}">
                    Zobrazit přístroje
                </a>
            </div>

        </div>
    </div>
</div>
<footer class="mt-auto" th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
