<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"><title>Placeholder</title></head>

<body>
<nav th:replace="~{fragments/navigation :: navigation(null)}"></nav>
<div class="container">
    <div class="row p-3 g-2 justify-content-center">
        <div class="col col-md-8 p-5">
            <form action="#" class="form-floating mb-3" enctype="multipart/form-data"
                  method="POST" th:action="@{/registration/instrument}" th:object="${instrument}">
                <div th:replace="~{fragments/alert :: alert}">
                    <span>Alert</span>
                </div>
                <fieldset>
                    <legend th:text="#{instrument.form_title}">Registrace přístroje
                        <a aria-controls="collapse1" aria-expanded="false" class="btn btn-outline-secondary btn-sm"
                           data-bs-toggle="collapse" href="#collapse1" role="button">
                            ?
                        </a>
                    </legend>
                    <div class="collapse mb-3" id="collapse1">
                        <div class="card card-body" th:text="#{instrument.registration_explanation}">
                            Informace slouží pro zapojení přístroje či připojeného PC do samostatné
                            zabezpečené sítě, která funguje na principu, co není povoleno, to je zakázáno. To se však
                            netýká aktualizací operačního systému či antiviru, kde je naopak z bezpečnostních důvodu
                            jejich povolení předpokládáno. Zároveň bude přístroj či připojené PC připojeny na software
                            provádějící automatickou zálohu dat na zabezpečené úložiště. Po vyplnění dotazníku budou
                            odeslány informace zodpovědným osobám. Všechny otázky jsou vždy vztaženy pouze k měřícímu
                            přístroji, za který je prováděna registrace.
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4">
                            <strong th:text="#{entity.inventory_number}">Inventární číslo</strong>
                        </span>
                        <input aria-label="ID" class="form-control m" maxlength="64"
                               pattern="[a-zA-Z0-9\-_]+" required
                               th:field="*{id}"
                               title="Only Latin characters, numbers, hyphens and underscores.&#13;Použij pouze latinku, číslice, podtržítko nebo krátkou pomlčku."
                               type="text">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4">
                            <strong th:text="#{entity.acronym}">Akronym</strong>
                        </span>
                        <input aria-label="Acronym" class="form-control" maxlength="16"
                               pattern="[a-zA-Z0-9\-]+"
                               required
                               th:field="*{acronym}"
                               title="Only Latin characters, numbers and hyphens.&#10;Použij pouze latinku, číslice nebo krátkou pomlčku."
                               type="text">

                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4" th:text="#{entity.czech_name}">
                            Název česky
                        </span>
                        <input aria-label="Name in Czech" class="form-control" maxlength="255"
                               required
                               th:field="*{nameCZ}"
                               title="Insert name of the instrument in Czech.&#10;Vlož název přístroje v českém jazyce."
                               type="text">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4" th:text="#{entity.english_name}">
                            Název anglicky
                        </span>
                        <input aria-label="Name in English" class="form-control" maxlength="255"
                               required
                               th:field="*{nameEN}"
                               title="Insert name of the instrument in English.&#10;Vlož název přístroje v anglickém jazyce."
                               type="text">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4" th:text="#{entity.czech_description}">
                            Popis česky
                        </span>
                        <input aria-label="Description in Czech" class="form-control" maxlength="255"
                               required
                               th:field="*{descriptionCZ}"
                               title="Insert instrument description in Czech.&#10;Vlož popis přístroje v českém jazyce."
                               type="text">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4" th:text="#{entity.english_description}">
                            Popis anglicky
                        </span>
                        <input aria-label="Description in English" class="form-control" maxlength="255"
                               required
                               th:field="*{descriptionEN}"
                               title="Insert instrument description in English.&#10;Vlož popis přístroje v anglickém jazyce."
                               type="text">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4" th:text="#{entity.image}">
                            Obrázek
                        </span>
                        <input accept="image/jpeg, image/png" class="form-control" id="image" name="image"
                               required
                               title="Choose instrument image to upload. Only jpeg or png format.&#10;Zde nahraj obrázek přístroje. Pouze jpeg nebo png formát."
                               type="file">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4" th:text="#{entity.department}">
                            Oddělení
                        </span>
                        <select aria-label="Department"
                                class="form-control form-select custom-select"
                                th:field="*{idepartmentAcronym}">
                            <option th:text="#{form.select_option}" value="">-- vyber z nabídky --</option>
                            <option th:each="choice : ${T(cz.tul.cxi.ddr.model.auxiliary.DepartmentAcronym).values()}"
                                    th:text="${choice}" th:value="${choice}"
                                    title="Select your department.&#10;Vyber své oddělení.">
                                OMI
                            </option>
                        </select>
                    </div>
                </fieldset>
                <fieldset class="secondaryFieldSet">
                    <legend th:text="#{instrument.additional_info}">Doplňující registrační informace</legend>
                    <div>
                        <ol th:replace="~{fragments/form-options :: form-options (field='registrationInfo', configs=*{REGISTRATION_INFO_OPTIONS})}">
                        </ol>
                    </div>
                </fieldset>
                <div class="d-grid gap-2 mt-4 col-md-6 mx-auto">
                    <button class="btn btn-primary" th:text="#{button.register}" type="submit">Registrovat</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer class="mt-auto" th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
