<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"><title>Placeholder</title></head>

<body>
<nav th:replace="~{fragments/navigation :: navigation(null)}"></nav>
<div class="container">
    <div class="row p-3 g-2 justify-content-center">
        <div class="col col-md-8 p-5">
            <form action="#" class="form-floating row g-3 mb-3" method="POST"
                  onsubmit="concatenateTags()"
                  th:action="@{/registration/measurement(byEntity='user', byId=${#authentication.name}, byAcronym=${#authentication.name})}"
                  th:object="${measurement}">
                <div th:replace="~{fragments/alert :: alert}">
                    <span>Alert</span>
                </div>
                <fieldset>
                    <legend th:text="#{measurement.form_title.start}">Spuštění měření</legend>
                    <input readonly required th:id="id.repetition" th:name="id.repetition" th:value="1" type="hidden">
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4">
                            <strong th:text="#{entity.acronym}">Akronym</strong>
                        </span>
                        <input aria-label="Acronym" class="form-control" maxlength="64" pattern="[a-zA-Z0-9\-]+"
                               th:field="*{acronym}"
                               th:placeholder="#{form.acronym_or_tag}"
                               title="Use only Latin characters, numbers or hyphens.&#13;&#10;Použij pouze latinku, číslice nebo krátkou pomlčku."
                               type="text">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4">
                            <strong th:text="#{dataset.singular}">Dataset</strong>
                        </span>
                        <select aria-label="Measurement instrument" class="form-control form-select custom-select"
                                required
                                th:field="*{dataset}">
                            <option th:text="#{form.select_option}" value="">-- vyber z nabídky --</option>
                            <option th:each="choice : ${loadedDatasets}"
                                    th:text="${choice.acronym}" th:value="${choice.id}">
                                Ds1
                            </option>
                        </select>
                        <a class="btn btn-outline-secondary" href="#"
                           th:href="@{/list/datasets(byEntity='user', byId=${#authentication.name}, byAcronym=${#authentication.name}, activeOnly='false')}">
                            <i class="fa-regular fa-rectangle-list"></i>
                        </a>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4">
                            <strong th:text="#{instrument.singular}">Přístroj</strong>
                        </span>
                        <select aria-label="Measurement instrument" class="form-control form-select custom-select"
                                required
                                th:field="*{instrument}">
                            <option th:text="#{form.select_option}" value="">-- vyber z nabídky --</option>
                            <option th:each="choice : ${loadedInstruments}"
                                    th:text="${choice.acronym}" th:value="${choice.id}">
                                Ins1
                            </option>
                        </select>
                        <a class="btn btn-outline-secondary" href="#"
                           th:href="@{/list/instruments}">
                            <i class="fa-regular fa-rectangle-list"></i>
                        </a>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" th:text="#{entity.tags}">
                            Tagy
                        </span>
                        <input aria-label="Tag" class="form-control"
                               maxlength="128" th:field="*{customMetadata['tags']}"
                               th:placeholder="#{form.optional} + ', ' + #{form.comma_separated}"
                               pattern="[a-zA-Z0-9\-\s,]+"
                               title="Vlož tagy oddělené čárkou. Použij pouze latinku, číslice nebo krátkou pomlčku.&#13;&#10;Insert tags comma-separated. Use only Latin characters, numbers or hyphens."
                               type="text">
                    </div>
                </fieldset>
                <div class="d-grid gap-2 mt-4 col-md-6 mx-auto">
                    <button class="btn btn-primary" th:text="#{button.start}" type="submit">
                        Spustit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer class="mt-auto" th:replace="~{fragments/footer :: footer}"></footer>
<script>
    function concatenateTags() {
        // Get the values of the tags and acronym fields
        const tagsField = document.getElementById("customMetadata'tags'");
        const acronymField = document.getElementById("acronym");

        // Concatenate the tags and set the value to the acronym field if acronym field is empty
        if (typeof acronymField.value === 'string' && acronymField.value.length === 0) {
            const tagsArray = tagsField.value.split(/\s*,\s*/).slice(0, 5);
            acronymField.value = tagsArray.join("-");
            acronymField.value = acronymField.value.replace(/\s+/g, '');
        }
    }
</script>
</body>
</html>
