<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"><title>Placeholder</title></head>

<body>
<nav th:replace="~{fragments/navigation :: navigation(null)}"></nav>
<div class="container">
    <div class="row p-3 g-2 justify-content-center">
        <div class="col col-md-8 p-5">
            <form action="#" class="form-floating row g-3 mb-3" method="POST"
                  th:action="@{/registration/resource/loadFromGap}" th:object="${resource}">
                <div class="input-group mb-3">
                    <span class="input-group-text" th:text="#{entity.number}">
                        Interní číslo
                    </span>
                    <input aria-label="ID" class="form-control" maxlength="255"
                           required
                           th:field="*{internalNumber}"
                           title="Vlož interní číslo zdroje z GaPu.&#13;&#10;Insert internal number of resource from GaP."
                           type="text">
                    <span class="input-group-text" th:text="#{entity.activity}">
                        Činnost
                    </span>
                    <input aria-label="activity" class="form-control" maxlength="255"
                           th:field="*{activity}" th:placeholder="#{form.optional}" type="text">
                    <button class="btn btn-outline-secondary" th:text="#{button.load}" type="submit">
                        Načíst
                    </button>
                </div>
            </form>
            <form action="#" class="form-floating row g-3 mb-3" method="POST"
                  th:action="@{/registration/resource/loadFromGap}"
                  th:if="${loadedResources}" th:object="${resource}">
                <input readonly required th:field="*{internalNumber}" type="hidden">
                <div class="input-group mb-3">
                    <span class="input-group-text" th:text="#{resource.plural}">
                        Zdroje
                    </span>
                    <select aria-label="Selection" class="form-control form-select custom-select" th:field="*{activity}">
                        <option th:each="res : ${loadedResources}" th:text="${res.nameEn}"
                                th:value="${res.activity}">
                            Skoda auto a.s.
                        </option>
                    </select>
                    <button class="btn btn-outline-secondary" type="submit">
                        Načíst
                    </button>
                </div>
            </form>
            <form action="#" class="form-floating row g-3 mb-3" method="POST"
                  th:action="@{/registration/resource}" th:object="${resource}">
                <div th:replace="~{fragments/alert :: alert}">
                    <span>Alert</span>
                </div>
                <fieldset>
                    <legend th:text="#{resource.form_title}">Načtený zdroj</legend>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4">ID</span>
                        <input aria-label="Identification number" class="form-control"
                               required th:field="*{id}">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4" th:text="#{entity.czech_name}">
                            Název česky
                        </span>
                        <input aria-label="Czech name" class="form-control" maxlength="255"
                               required th:field="*{nameCz}" type="text">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4" th:text="#{entity.english_name}">
                            Název anglicky
                        </span>
                        <input aria-label="English name" class="form-control" maxlength="255"
                               required th:field="*{nameEn}" type="text">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4" th:text="#{entity.number}">
                            Interní číslo
                        </span>
                        <input aria-label="ID" class="form-control" maxlength="255"
                               required th:field="*{internalNumber}" type="text">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4" th:text="#{entity.activity}">
                            Činnost
                        </span>
                        <input aria-label="Activity" class="form-control" maxlength="255"
                               th:field="*{activity}" type="text">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4" th:text="#{entity.department}">
                            Oddělení
                        </span>
                        <input aria-label="Department" class="form-control" maxlength="255"
                               th:field="*{department}" type="text">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4" th:text="#{entity.programme}">
                            Program
                        </span>
                        <input aria-label="Program" class="form-control" maxlength="255"
                               th:field="*{program}" type="text">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4" th:text="#{entity.acronym}">
                            Akronym
                        </span>
                        <input aria-label="Acronym" class="form-control" maxlength="255"
                               required pattern="[a-zA-Z0-9\-]+" th:field="*{shortcut}" type="text">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4" th:text="#{entity.type}">
                            Typ
                        </span>
                        <input aria-label="Type" class="form-control" maxlength="255"
                               required th:field="*{type}" type="text">
                    </div>
                </fieldset>
                <div class="d-grid gap-2 mt-4 col-md-6 mx-auto">
                    <button class="btn btn-primary" th:text="#{button.add}" type="submit">
                        Přidat
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer class="mt-auto" th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
