<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header}"><title>Placeholder</title></head>

<body>

<nav th:replace="~{fragments/navigation :: navigation('.menu-datasets')}"></nav>

<div class="container-fluid">
    <div class="row p-3 g-2 justify-content-center">
        <div class="col col-md-8 p-5">
            <div th:replace="~{fragments/alert :: alert}">
                <span>Alert</span>
            </div>
            <div class="d-flex">
                <div class="h3 p-2 flex-grow-1 bd-highlight">
                    <span th:text="#{dataset.plural}" th:remove="tag">Datasety</span>
                    <small class="text-muted" th:text="' ' + #{__${byEntity}__.genitive} + ' ' + ${byAcronym}"
                           th:unless="${byEntity} == 'admin'">entity Akronym</small>
                </div>
                <div class="ps-1 bd-highlight" th:unless="${byEntity} == 'admin'">
                    <a class="btn btn-outline-primary" href="#" th:href="@{/registration/dataset}">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
                <div class="ps-1 bd-highlight tulswitch" th:if="${showAll}">
                    <div>
                        Vše
                    </div>
                    <a class="btn btn-outline-primary" href="#"
                       th:href="@{/list/datasets(byEntity=${byEntity}, byId=${byId}, byAcronym=${byAcronym}, activeOnly='true')}"
                       th:text="#{button.active}">
                        Aktivní
                    </a>
                </div>
                <div class="ps-1 bd-highlight tulswitch" th:unless="${showAll}">
                    <a class="btn btn-outline-primary" href="#"
                       th:href="@{/list/datasets(byEntity=${byEntity}, byId=${byId}, byAcronym=${byAcronym}, activeOnly='false')}"
                       th:text="#{button.all}">
                        Vše
                    </a>
                    <div>
                        Aktivní
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" th:text="#{entity.creation_date}">Datum vytvoření</th>
                    <th scope="col" th:text="#{entity.acronym}">Akronym</th>
                    <th scope="col" th:text="#{resource.number}">Interní číslo zdroje</th>
                    <th scope="col" th:text="#{resource.activity}">Aktivita zdroje</th>
                    <th scope="col" th:text="#{resource.acronym}">Akronym zdroje</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="loadedDataset : ${loadedDatasets}">
                    <tr>
                        <td th:text="${#dates.format(loadedDataset.start, 'yyyy-MM-dd HH:mm')}">
                            2023-01-22 11:00
                        </td>
                        <td th:text="${loadedDataset.acronym}">
                            Ds1
                        </td>
                        <td th:text="${loadedDataset.resource.internalNumber}">
                            8889/8990
                        </td>
                        <td th:text="${loadedDataset.resource.activity}">
                            207
                        </td>
                        <td th:text="${loadedDataset.resource.shortcut}">
                            OMI
                        </td>
                        <td class="text-end dropdown">
                            <button aria-expanded="false" class="btn btn-outline-secondary align-right"
                                    data-bs-toggle="dropdown"
                                    type="button">
                                <i class="fa-solid fa-bars"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item"
                                       th:href="@{/list/measurements(byEntity='dataset', byId=${loadedDataset.id}, byAcronym=${loadedDataset.acronym}, activeOnly=${#bools.isFalse(loadedDataset.end)})}">
                                        <span th:text="#{measurement.plural}">Měření</span>
                                        <i class="fa-solid fa-scale-balanced ms-1"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"
                                       th:href="@{/list/users(byEntity='dataset', byId=${loadedDataset.id}, byAcronym=${loadedDataset.acronym})}">
                                        <span th:text="#{user.plural}">Uživatelé</span>
                                        <i class="fa-solid fa-users ms-1"></i>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item btn-outline-primary" href="#" id="closeDataset"
                                       th:href="@{/action/dataset/{datasetId}/close(datasetId=${loadedDataset.id})}"
                                       th:unless="${loadedDataset.end}">
                                        <span th:text="#{dataset.close}">Uzavřít</span>
                                        <i class="fa-solid fa-stop ms-1"></i>
                                    </a>
                                    <a class="dropdown-item btn-outline-primary" href="#" style="pointer-events: none;"
                                       th:if="${loadedDataset.end}">
                                        <span th:text="#{dataset.closed}">Uzavřen</span>
                                        <i class="fa-solid fa-lock ms-1"></i>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <div class="alert alert-warning" th:if="${loadedDatasets.isEmpty()}"
                 th:text="${showAll} ? #{dataset.empty_list} : #{dataset.empty_list_active}">
                Žádný dataset k zobrazení.
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("closeDataset").addEventListener("click", function() {
        var confirmation = confirm("Jste si jisti, že chcete uzavřít tento dataset?\nAre you sure you want close this dataset?");
        if (!confirmation) {
            event.preventDefault(); // Prevent the default button click action
        return;
      }
    })
</script>

<footer class="mt-auto" th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
