<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header}"><title>Placeholder</title></head>

<body>

<nav th:replace="~{fragments/navigation :: navigation('.menu-measurements')}"></nav>

<section class='section pb-0'>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-12 col-md-12 m-2 p-2 shadow border border-1'>
                <div class='d-flex' style='justify-content: center; align-items: center'>
                    <span class='fas fa-book fa-2x fa-ddr ml-3'></span>
                    <div class='ml-3 mt-3 mb-1'><h3 th:text="#{measurement.plural}"></h3></div>
                    <div class='ml-auto mt-1 mb-1'>
                        <div class='input-group'>
                            <a th:href="@{/registration/measurement(byEntity='user', byId=${#authentication.name}, byAcronym=${#authentication.name})}">
                                <button id='addBtn' class='btn btn-primary btn-fixed btn-flash ml-auto mb-1 mr-2'
                                        type='button'>
                                    <span class='fas fa-plus btn-icon'></span>
                                    <span th:text="#{measurement.register}"></span>
                                </button>
                            </a>
                            <input id='search' class='form-control border-right-0'
                                   style='width: 250px; border-bottom: 2px solid #5948ad;' type='text'
                                   th:placeholder='#{button.search}'>
                            <div class='input-group-append'>
                                <div class='input-group-text pb-0 border-left-0'
                                     style='border-bottom: 2px solid #5948ad; height: 2.65rem;'>
                                    <span class='fas fa-magnifying-glass mb-2' th:title="#{button.filter}"></span>
                                </div>
                            </div>
                            <button id='filter1Btn' class='btn btn-outline-secondary ml-2 mr-1 p-0 px-2'
                                    style='height: 2.65rem;' type='button' th:title="#{button.filter2}">
                                <span class='fas fa-sliders' data-bs-toggle='collapse' data-bs-target='#filterCollapse'
                                      aria-controls='filterCollapse' aria-expanded='false' aria-label='Toggle filter'
                                      style='font-size: 20px; padding-top: 8px;'></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div id='filterCollapse' class='collapse border my-2'>
                    <div class='container my-2'>
                        <div class='row input-group pt-1 m-0 align-middle'>
                            <label for='acronym' class='col-form-label col-sm-12 col-md-3 mt-2 p-0'
                                   th:text="#{entity.acronym}"></label>
                            <div class='col-sm-12 col-md-9 mb-2 px-0'>
                                <input name='acronym' id='acronym' class='form-control' type='text'/>
                            </div>
                        </div>
                        <div class='row input-group pt-1 m-0 align-middle'>
                            <label for='uploaded' class='col-form-label col-sm-12 col-md-3 mt-2 p-0'
                                   th:text="#{filter.uploaded}"></label>
                            <div class='col-sm-12 col-md-9 my-2 px-0'>
                                <div class='form-inline justify-content-start'>
                                    <input name='uploaded' id='uploaded' data-state='none' class='tri-state'
                                           type='checkbox'/>
                                </div>
                            </div>
                        </div>
                        <div class='row mt-3 align-right'>
                            <div class='ml-auto'>
                                <button id='filter2ClearBtn' class='btn btn-secondary btn-fixed ml-auto mb-1 mr-2'
                                        type='button'>
                                    <span class='fas fa-times btn-icon'></span>
                                    <span th:text="#{button.delete}"></span>
                                </button>
                                <button id='filter2Btn' class='btn btn-primary btn-fixed btn-flash ml-auto mb-1 mr-2'
                                        type='button'>
                                    <span class='fas fa-filter btn-icon'></span>
                                    <span th:text="#{button.filter}"></span>
                                </button>
                            </div>
                        </div>
                        <div class='row' style='margin-bottom: -2.25rem;'>
                            <div class='mx-auto'>
                                <button class='btn btn-outline-primary pt-1 pb-0 px-3' type='button'
                                        data-bs-toggle='collapse' data-bs-target='#filterCollapse'
                                        aria-controls='filterCollapse' aria-expanded='true' aria-label='Toggle filter'>
                                    <span class='fas fa-chevron-up'></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='grid1'></div>
            </div>
        </div>
    </div>
</section>

<script th:inline="javascript">
    /*<![CDATA[*/

      const res = {
        add:                    /*[[#{measurement.register}]]*/     'add',
        creation_date:          /*[[#{entity.creation_date}]]*/     'creation_date',
        acronym:                /*[[#{entity.acronym}]]*/           'acronym',
        repetition:             /*[[#{entity.repetition}]]*/        'repetition',
        dataset_singular:       /*[[#{dataset.singular}]]*/         'dataset_singular',
        instrument_singular:    /*[[#{instrument.singular}]]*/      'instrument_singular',
        uploaded:               /*[[#{entity.uploaded}]]*/          'uploaded',
      }

      $(document).ready(function() {

        //initialization//
        let dGrid = new DGridMeasurement(res, '#grid1', 'measurements', /* [[@{/measurement/pqgrid}]] */ '/measurement/pqgrid');
        controls.setState('.tri-state', 'none');

      });
    /*]]>*/
</script>

<footer class="mt-auto" th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
