<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"><title>Placeholder</title></head>

<body>

<nav th:replace="~{fragments/navigation :: navigation('.menu-instruments')}"></nav>

<div class="container-fluid">
    <div class="row p-3 g-2 justify-content-center">
        <div class="col col-md-8 p-5">
            <div th:replace="~{fragments/alert :: alert}">
                <span>Alert</span>
            </div>
            <div class="d-flex">
                <div class="h3 p-2 flex-grow-1 bd-highlight">
                    <span th:text="#{measurement.plural}" th:remove="tag">Měření</span>
                    <small class="text-muted" th:text="' ' + #{__${byEntity}__.genitive} + ' ' + ${byAcronym}"
                           th:unless="${byEntity} == 'admin'"> datasetu Ds1</small>
                </div>
                <div class="ps-1 bd-highlight" th:unless="${byEntity} == 'admin'">
                    <a class="btn btn-outline-primary"
                       th:href="@{/registration/measurement(byEntity=${byEntity}, byId=${byId}, byAcronym=${byAcronym})}">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
                <div class="ps-1 bd-highlight tulswitch" th:if="${showAll}">
                    <div>
                        Vše
                    </div>
                    <a class="btn btn-outline-primary" href="#"
                       th:href="@{/list/measurements(byEntity=${byEntity}, byId=${byId}, byAcronym=${byAcronym}, activeOnly='true')}"
                       th:text="#{button.active}">
                        Aktivní
                    </a>
                </div>
                <div class="ps-1 bd-highlight tulswitch" th:unless="${showAll}">
                    <a class="btn btn-outline-primary" href="#"
                       th:href="@{/list/measurements(byEntity=${byEntity}, byId=${byId}, byAcronym=${byAcronym}, activeOnly='false')}"
                       th:text="#{button.all}">
                        Vše
                    </a>
                    <div>
                        Aktivní
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" th:text="#{entity.creation_date}">Datum vytvoření</th>
                    <th scope="col" th:text="#{entity.acronym}">Akronym</th>
                    <th scope="col" th:text="#{entity.repetition}">Opakování</th>
                    <th scope="col" th:text="#{dataset.singular}">Dataset</th>
                    <th scope="col" th:text="#{instrument.singular}">Přístroj</th>
                    <th scope="col" th:text="#{entity.uploaded}">Záloha</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="loadedMeasurement : ${loadedMeasurements}">
                    <tr>
                        <td th:text="${#dates.format(loadedMeasurement.start, 'yyyy-MM-dd HH:mm')}">2023-01-22 11:00
                        </td>
                        <td th:text="${loadedMeasurement.acronym}">Measurement1</td>
                        <td th:text="${loadedMeasurement.id.repetition}">1</td>
                        <td th:text="${loadedMeasurement.dataset.acronym}">Ds1</td>
                        <td th:text="${loadedMeasurement.instrument.acronym}">Ins1</td>
                        <td style="text-indent: 9px;">
                            <i class="fa-solid fa-check" th:if="${loadedMeasurement.uploaded}"></i>
                            <i class="fa-solid fa-xmark" th:unless="${loadedMeasurement.uploaded}"></i>
                        </td>
                        <td class="text-end dropdown">
                            <button aria-expanded="false" class="btn btn-outline-secondary align-right"
                                    data-bs-toggle="dropdown"
                                    type="button">
                                <i class="fa-solid fa-bars"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li th:if="${loadedMeasurement.getEnd() == null}">
                                    <a class="dropdown-item btn-outline-primary" href="#" role="button"
                                       th:aria-disabled="${#authentication.name} != ${loadedMeasurement.user.email}"
                                       th:href="@{/action/measurement/{measurementId}/{repetition}/end(measurementId=${loadedMeasurement.id.measurementId}, repetition=${loadedMeasurement.id.repetition})}"
                                       th:classapend="${#authentication.name} != ${loadedMeasurement.user.email} ? 'disabled' : ''">
                                        <span th:style="${#authentication.name} != ${loadedMeasurement.user.email} ? 'color: grey;' : ''"
                                              th:text="#{button.end}">Ukončit</span>
                                        <i class="fa-solid fa-stop ms-1"></i>
                                    </a>
                                </li>
                                <li th:unless="${loadedMeasurement.getEnd() == null}">
                                    <a class="dropdown-item btn-outline-primary" href="#" role="button"
                                       th:aria-disabled="${#authentication.name} != ${loadedMeasurement.user.email}"
                                       th:href="@{/action/measurement/{measurementId}/{repetition}/repeat(measurementId=${loadedMeasurement.id.measurementId}, repetition=${loadedMeasurement.id.repetition})}"
                                       th:classappend="${#authentication.name} != ${loadedMeasurement.user.email} ? 'disabled' : ''">
                                        <span th:style="${#authentication.name} != ${loadedMeasurement.user.email} ? 'color: grey;' : ''"
                                              th:text="#{button.repeat}">Opakovat</span>
                                        <i class="fa-solid fa-repeat ms-1"></i>
                                    </a>

                                </li>
                            </ul>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <div class="alert alert-warning" th:if="${loadedMeasurements.isEmpty()}"
                 th:text="${showAll} ? #{measurement.empty_list} : #{measurement.empty_list_active}">
                Žádná měření k zobrazení.
            </div>
        </div>
    </div>
</div>

<footer class="mt-auto" th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
