<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header}"><title>Placeholder</title></head>

<body>

<nav th:replace="~{fragments/navigation :: navigation('.menu-reservations')}"></nav>

<section class='section pb-0'>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-12 col-md-12 m-2 p-2 shadow border border-1'>
                <div class='d-flex' style='justify-content: center; align-items: center'>
                    <span class='fas fa-calendar-days fa-2x fa-ddr ml-3'></span>
                    <div class='ml-3 mt-3 mb-1'><h3 th:text="#{reservation.plural}"></h3></div>
                    <div class='ml-auto mt-1 mb-1'>
                        <div class='input-group'>
                            <input type='text' class='form-control border-right-0'
                                   style='width: 250px; border-bottom: 2px solid #5948ad;' placeholder='Search for'>
                            <div class='input-group-append'>
                                <div class='input-group-text pb-0 border-left-0'
                                     style='border-radius: 0px; border-bottom: 2px solid #5948ad; cursor: pointer;'>
                                    <span class='fas fa-magnifying-glass mb-2' th:title="#{button.filter}"></span>
                                </div>
                            </div>
                            <button class='btn btn-outline-secondary ml-2 mr-1 p-0 pl-1 pr-2'
                                    th:title="#{button.advfilter}" type='button'>
                                <span class='fas fa-filter' data-bs-toggle="collapse" data-bs-target="#filterCollapse"
                                      aria-controls="filterCollapse" aria-expanded="false" aria-label="Toggle filter"
                                      style='font-size: 20px; padding-top: 4px;'></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="collapse border my-2" id="filterCollapse">
                    <input type='text' class='form-control border-right-0'
                           style='width: 300px; border-bottom: 2px solid #5948ad;' placeholder='Search for'>
                    <div class='input-group-append'>
                        <div class='input-group-text pb-0 border-left-0'
                             style='border-radius: 0px; border-bottom: 2px solid #5948ad; cursor: pointer;'>
                            <span class='fas fa-magnifying-glass mb-2'></span>
                        </div>
                    </div>
                </div>
                <div id='grid1'></div>
            </div>
        </div>
    </div>
</section>

<script th:inline="javascript">
    /*<![CDATA[*/

      $(document).ready(function() {
        const res = {
          add:           /*[[#{instrument.register}]]*/      'add',
          department:    /*[[#{entity.department}]]*/        'department',
          acronym:       /*[[#{entity.acronym}]]*/           'acronym',
          nameCZ:        /*[[#{entity.czech_name}]]*/        'nameCZ',
          nameEN:        /*[[#{entity.english_name}]]*/      'nameEN'
        }
        const url = {
          add:           /*[[@{/registration/instrument}]]*/ 'add',
        }

        let dGrid = new DGridReservation(res);

        var colM1 = [
          { title: res.department, width: 150, dataIndx: 'iddepartmentAcronym', resizable: false, render: dGrid.pqRenderFiltered,
            filter: { type: 'textbox', condition: 'contain', listeners: ['keyup'] }
          },
          { title: res.acronym, width: 300, dataIndx: 'acronym', resizable: false, render: dGrid.pqRenderFiltered,
            filter: { type: 'textbox', condition: 'contain', listeners: ['keyup'] }
          },
          { title: res.nameCZ, width: 300, dataIndx: 'nameCZ', resizable: false, render: dGrid.pqRenderFiltered,
            filter: { type: 'textbox', condition: 'contain', listeners: ['keyup'] }
          },
          { title: 'installed', width: 120, dataIndx: 'installed', dataType: 'bool', align: 'center', resizable: false, copy: false, render: dGrid.pqRenderBool,
            filter: {type: 'checkbox', subtype: 'triple', condition: 'equal', listeners: ['click'] }
          },
          { title: 'measuring', width: 120, dataIndx: 'measuring', dataType: 'bool', align: 'center', resizable: false, copy: false, render: dGrid.pqRenderBool,
            filter: {type: 'checkbox', subtype: 'triple', condition: 'equal', listeners: ['click'] }
          },
          { title: '', width: 140, dataIndx: 'icons', resizable: false, copy: false,
            render: function(ui) {
              console.log(ui);

              let html='<div class="grid-icons" style="padding-left: 8px; display: none;">';
              html+='<button type="button" class="btn btn-outline-secondary btn-grid mr-2"><span class="fa fa-edit" title="upravit"></span></button>';
              html+='<button type="button" class="btn btn-outline-secondary btn-grid mr-2"><span class="fa fa-scale-balanced" title="mereni"></span></button>';
              html+='<button type="button" class="btn btn-outline-secondary btn-grid mr-2"><span class="fa fa-users" title="uzivatele"></span></button>';
              html+='<button type="button" class="btn btn-outline-secondary btn-grid mr-2"><span class="fa fa-book" title="denik"></span></button>';
              html+='<button type="button" class="btn btn-outline-secondary btn-grid mr-2"><span class="fa fa-stop" title="deaktivovat"></span></button>';
              html+='</div>';

              return {
                text: html
              }
            }
          }
        ];

        var dataM1 = {
          location: 'remote',
          dataType: 'JSON',
          method: 'POST',
          url: /*[[@{/reservation/pqgrid}]] */ '/reservation/pqgrid',
          getData: function (data) {
            console.log(data);
            return { curPage: data.curPage, totalRecords: data.totalRecords, data: data.data };
          }
        }

        var toolbar1 = {
          items: [
            { type: '<a href="'+url.add+'"><button id="add" type="button" class="btn btn-primary btn-grid pl-1" style="float: left;" title="'+res.add+'"><span class="fa fa-plus mr-1"></span></button></a>',
            },
            { type: '<button id="excel" type="button" class="btn btn-outline-secondary btn-grid pl-1" style="float: right;" title="Excel"><span class="fa fa-file-excel mr-1"></span></button>',
              listener: {'click': function() {
                const format = 'xlsx';
                const blob = this.exportData({
                  format: format,
                  render: true
                });
                if (typeof blob === "string") {
                  blob = new Blob([blob]);
                }
                saveAs(blob, "instruments."+ format );
              }}
            }
          ]
        };

        var obj1 = {
          width: 'auto',
          height: '430',
          sortModel: {
            type: 'remote',
            single: false,
            sorter: [{ dataIndx: 'department', dir: 'up' }, { dataIndx: 'acronym', dir: 'up' }],
            space: true,
            multiKey: null
          },
          filterModel: {
            type: 'remote',
            mode: 'AND',
            header: true
          },
          colModel: colM1,
          dataModel: dataM1,
          pageModel: {
            type: 'remote',
            rPP: 20,
            rPPOptions:[1, 20, 50, 100, 500],
            strRpp: "{0}",
            strDisplay: "{0} - {1} / {2}"
          },
          selectionModel: {
            type: 'row',
            mode: 'single',
            toggle: false,
            fireSelectChange: true
          },
          scrollModel: {
            theme: true,
            autoFit: false
          },
          autofil: false,
          bootstrap: true,
          collapsible: false,
          draggable: false,
          dragColumns: { enabled: false },
          wrap: false,
          fillHandle: '',
          hwrap: false,
          hoverMode: 'row',
          hoverRow: -1,
          //freezeCols: 2,
          numberCell: false,
          resizable: false,
          roundCorners: false,
          rowHt: 40,
          showTitle: false,
          showTop: true,
          showBottom: true,
          toolbar: toolbar1,
          virtualX: true,
          virtualY: true,

          cellClick: function (evt, ui) {
            if (ui.colIndx==0) {
              dlgOpen('dlg-list', {tenant: ui.rowData.tenant, aList: ui.rowData.aList, aKey: ui.rowData.aKey, aValue: ui.rowData.aValue}, function(data) {
                saveList(data);
              })
            }
          }

        }
        $('#grid1').pqGrid(obj1);
        //console.log($("#grid1").pqGrid('option'))
        //console.log($.paramquery.pqGrid.prototype.options);
        //console.log($.paramquery);
        $('.pq-page-placeholder').find('.ui-corner-all').css({'height': '32px', 'margin-top': '3px;'});
      });
    /*]]>*/
</script>

<footer class="mt-auto" th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
