<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/header :: header}"><title>Placeholder</title></head>

<body>

<nav th:replace="~{fragments/navigation :: navigation('.menu-s3points')}"></nav>

<section class='section pb-0' sec:authorize="isAuthenticated()">
    <div class='container'>
        <div class='row'>
            <div class='col-sm-12 col-md-12 m-2 p-2 shadow border border-1'>
                <div class='d-flex' style='justify-content: center; align-items: center'>
                    <span class='fas fa-table-columns fa-2x fa-ddr ml-3'></span>
                    <div class='ml-3 mt-3 mb-1'><h3>S3Point</h3></div>
                    <div class='ml-auto mt-1 mb-1'>
                        <div class='input-group'>
                            <a th:href="@{/registration/resource}">
                                <button id='addBucket' class='btn btn-primary btn-fixed btn-flash ml-auto mb-1 mr-2'
                                        type='button'>
                                    <span class='fas fa-plus btn-icon'></span>
                                    <span th:text="#{bucket.singular}"></span>
                                </button>
                            </a>
                            <a th:href="@{/registration/dataset}">
                                <button id='addDataset' class='btn btn-primary btn-fixed btn-flash ml-auto mb-1 mr-2'
                                        type='button'>
                                    <span class='fas fa-plus btn-icon'></span>
                                    <span th:text="#{dataset.singular}"></span>
                                </button>
                            </a>
                            <input id='search' class='form-control border-right-0'
                                   style='width: 250px; border-bottom: 2px solid #5948ad;' type='text'
                                   th:placeholder='#{button.search}'>
                            <div class='input-group-append'>
                                <div class='input-group-text pb-0 border-left-0'
                                     style='border-bottom: 2px solid #5948ad; height: 2.64rem;'>
                                    <span class='fas fa-magnifying-glass mb-2' th:title="#{button.filter}"></span>
                                </div>
                            </div>
                            <button id='filter1Btn' class='btn btn-outline-secondary ml-2 mr-1 p-0 px-2'
                                    style='height: 2.65rem;' type='button' th:title="#{button.filter2}">
                                <span class='fas fa-sliders' data-bs-toggle='collapse' data-bs-target='#filterCollapse'
                                      aria-controls='filterCollapse' aria-expanded='false' aria-label='Toggle filter'
                                      style='font-size: 20px; padding-top: 8px;'></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div id='filterCollapse' class='collapse border my-2'>
                    <div class='container my-2'>
                        <div class='row input-group pt-1 m-0 align-middle'>
                            <label for='acronym' class='col-form-label col-sm-12 col-md-3 mt-2 p-0'
                                   th:text="#{metadata.x1}"></label>
                            <div class='col-sm-12 col-md-9 mb-2 px-0'>
                                <input name='acronym' id='acronym' class='form-control' type='text'/>
                            </div>
                        </div>
                        <div class='row align-right mt-3'>
                            <div class='ml-auto'>
                                <button id='filter2ClearBtn' class='btn btn-secondary btn-fixed ml-auto mb-1 mr-2'
                                        type='button'>
                                    <span class='fas fa-xmark btn-icon'></span>
                                    <span th:text="#{button.delete}"></span>
                                </button>
                                <button id='filter2Btn' class='btn btn-primary btn-fixed btn-flash ml-auto mb-1 mr-2'
                                        type='button'>
                                    <span class='fas fa-filter btn-icon'></span>
                                    <span th:text="#{button.filter}"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='grid1' style='display: inline-block;'></div>
                <div id='grid2' style='display: inline-block;'></div>
                <div id='grid3' style='display: inline-block;'></div>
            </div>
        </div>
    </div>
</section>

<script th:inline="javascript">
    /*<![CDATA[*/

      const res = {
        buckets:        /*[[#{bucket.plural}]]*/          'bucket',
        datasets:       /*[[#{dataset.plural}]]*/         'dataset',
        files:          /*[[#{file.slashdir}]]*/            'file'
      }

      $(document).ready(function() {

        //initialization//
        let dGrid1 = new DGridS3Point(res, '#grid1', 'buckets',  /* [[@{/s3point/pqgrid/bucket}]] */ '/s3point/pqgrid/bucket');
        let dGrid2 = new DGridS3Point(res, '#grid2', 'datasets', /* [[@{/s3point/pqgrid/dataset}]] */ '/s3point/pqgrid/dataset');
        let dGrid3 = new DGridS3Point(res, '#grid3', 'files',    /* [[@{/s3point/pqgrid/file}]] */    '/s3point/pqgrid/file');

      });
    /*]]>*/
</script>

<footer class="mt-auto" th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
