<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header}"><title>Placeholder</title></head>

<body>

<nav th:replace="~{fragments/navigation :: navigation(null)}"></nav>

<div class="container-fluid">
    <div class="row p-3 g-2 justify-content-center">
        <div class="col col-md-8 p-5">
            <div th:replace="~{fragments/alert :: alert}">
                <span>Alert</span>
            </div>
            <div class="d-flex">
                <div class="h3 p-2 flex-grow-1 bd-highlight">
                    <span th:text="#{user.plural}" th:remove="tag">Uživatelé</span>
                    <small class="text-muted" th:text="' ' + #{__${byEntity}__.genitive} + ' ' + ${byAcronym}"
                           th:unless="${byEntity} == 'admin'"> datasetu Ds1</small>
                </div>
                <div class="ps-1 bd-highlight" th:unless="${byEntity} == 'admin'">
                    <a class="btn btn-outline-primary"
                       th:href="@{/modification/{entity}/{entityId}/addUser(entity=${byEntity}, entityId=${byId}, entityAcronym=${byAcronym})}">
                        <i class="fa-solid fa-user-plus"></i>
                    </a>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" th:text="#{user.email}">Email</th>
                    <th scope="col" th:text="#{entity.department}">Oddělení</th>
                    <th scope="col" th:text="#{user.role}">Role</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="loadedUser : ${loadedUsers}">
                    <tr>
                        <td th:text="${loadedUser.email}">test.user@tul.cz</td>
                        <td th:text="${loadedUser.uDepartmentAcronym}">OMI</td>
                        <td th:text="${loadedUser.role.__${#locale.language}__()}">Administrátor</td>
                        <td class="text-end dropdown">
                            <button aria-expanded="false" class="btn btn-outline-secondary align-right"
                                    data-bs-toggle="dropdown"
                                    type="button">
                                <i class="fa-solid fa-bars"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="#"
                                       th:href="@{/detail/user/{email}(email=${loadedUser.email})}">
                                        <span th:text="#{button.detail}">Detail</span>
                                        <i class="fa-solid fa-circle-info ms-1"></i>
                                    </a>
                                </li>
                                <li th:if="${byEntity == 'instrument'}">
                                    <a class="dropdown-item btn-outline-primary" href="#" id="removeUser" role="button"
                                       th:aria-disabled="${#authentication.name} == ${loadedUser.email}"
                                       th:href="@{/modification/{entity}/{entityId}/removeUser/{email}(entity=${byEntity}, entityId=${byId}, email=${loadedUser.email}, entityAcronym=${byAcronym})}"
                                       th:classappend="${#authentication.name} == ${loadedUser.email} ? 'disabled' : ''">
                                        <span th:style="${#authentication.name} == ${loadedUser.email} ? 'color: grey;' : ''"
                                              th:text="#{button.remove}">Odebrat</span>
                                        <i class="fa-solid fa-user-slash ms-1"></i>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <div class="alert alert-warning" th:if="${loadedUsers.isEmpty()}" th:text="#{user.empty_list}">
                Žádní uživatelé k zobrazení.
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("removeUser").addEventListener("click", function() {
        var confirmation = confirm("Jste si jisti, že chcete odebrat tohoto uživatele?\nAre you sure you want to remove this user?");
        if (!confirmation) {
            event.preventDefault(); // Prevent the default button click action
        return;
      }
    })
</script>

<footer class="mt-auto" th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
