<footer class="mt-auto" th:fragment="footer" xmlns:th="https://www.thymeleaf.org">
    <div class="text-center p-4">
        <span class="text-muted">&copy; 2023-2024 TUL, AVCR, CESNET (ver240331)</span>
        <span><a th:href="@{'https://gitlab.com/data-driven-research/ddrapp.git'}" target="_blank" title="GitHub Repository"></a>
            <i class="fab fa-github"></i></span>
    </div>
    <div class='toasters'></div>
</footer>