<ol th:fragment="form-options (field, configs)" xmlns:th="https://www.thymeleaf.org">
    <th:block th:each="config : ${configs}">
        <li th:if="${config.inputType() == T(cz.tul.cxi.ddr.model.auxiliary.InputType).SELECTION}">
            <div class="form-group mb-3">
                <span class="mb-1" th:text="#{additional_info.__${config.key()}__}">Otázka</span>
                <div class="input-group">
                    <div style="width: 100%;">
                        <select aria-label="Selection"
                                class="form-control form-select custom-select text-uppercase"
                                th:field="*{__${field}__[__${config.key()}__]}" th:name="${config.key()}">
                            <option th:each="choice : ${config.choices()}"
                                    th:text="${choice.__${#locale.language}__()}" th:value="${choice.en()}">
                                Výběr z možností
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </li>
        <li th:if="${config.inputType() == T(cz.tul.cxi.ddr.model.auxiliary.InputType).RADIO}">
            <div class="form-group mb-3">
                <span class="mb-1" th:text="#{additional_info.__${config.key()}__}">Otázka</span>
                <div class="input-group">
                    <th:block th:each="choice : ${config.choices()}">
                        <div class="input-group-text m-1">
                            <input aria-label="Radios" autocomplete="off" class="form-check-input mt-0"
                                   required th:field="*{__${field}__[__${config.key()}__]}"
                                   th:value="${choice.en()}" type="radio">
                            <label class="text-uppercase m-1"
                                   th:for="${#ids.next('__${field}__[__${config.key()}__]')}"
                                   th:text="${choice.__${#locale.language}__()}">Volba</label>
                        </div>
                    </th:block>
                </div>
            </div>
        </li>
        <li th:if="${config.inputType() == T(cz.tul.cxi.ddr.model.auxiliary.InputType).CHECKBOX}">
            <div class="form-group mb-3">
                <span class="mb-1" th:text="#{additional_info.__${config.key()}__}">Otázka</span>
                <div class="input-group">
                    <th:block th:each="choice, stat : ${config.choices()}">
                        <div class="input-group-text m-1">
                            <input aria-label="Checkbox" autocomplete="off" class="form-check-input mt-0"
                                   th:field="*{__${field}__[__${config.key()}__]}"
                                   th:value="${choice.en()}"
                                   type="checkbox">
                            <label class="text-uppercase m-1"
                                   th:for="${#ids.next('__${field}__[__${config.key()}__]')}"
                                   th:text="${choice.__${#locale.language}__()}">Velmi dlouhá volba</label>
                        </div>
                    </th:block>
                </div>
            </div>
        </li>
        <li th:if="${config.inputType() == T(cz.tul.cxi.ddr.model.auxiliary.InputType).TEXT_Q}">
            <div class="form-group mb-3">
                <span class="mb-1" th:text="#{additional_info.__${config.key()}__}">Otázka</span>
                <div>
                    <div class="input-group">
                        <input aria-label="Text input" class="form-control"
                               th:field="*{__${field}__[__${config.key()}__]}"
                               type="text">
                    </div>
                </div>
            </div>
        </li>
        <div class="input-group mb-3"
             th:if="${config.inputType() == T(cz.tul.cxi.ddr.model.auxiliary.InputType).TEXT}">
            <span class="input-group-text col-lg-3 col-sm-4 me-1"
                  th:for="${#ids.next('__${field}__[__${config.key()}__]')}"
                  th:text="#{additional_info.__${config.key()}__}">Popis</span>
            <div class="col-sm-10 col-md-9 col-lg-8">
                <input aria-label="Text input" class="form-control" th:field="*{__${field}__[__${config.key()}__]}"
                       th:placeholder="#{form.optional}" type="text">
            </div>
        </div>
    </th:block>
</ol>
