<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header}"></head>

<body>

<nav th:replace="~{fragments/navigation :: navigation(null)}"></nav>

<div class="container">
    <div class="row p-3 g-2 justify-content-center">
        <div class="col col-md-8 col-xl-7  p-5 ">
            <form action="#" class="form-floating mb-3" method="POST"
                  th:action="@{/action/measurement/end}" th:object="${endingMeasurement}">
                <div th:replace="~{fragments/alert :: alert}">
                    <span>Alert</span>
                </div>
                <fieldset>
                    <legend th:text="#{measurement.form_title.end}">Ukončení měření</legend>
                    <input readonly required th:field="*{id.measurementId}" type="hidden">
                    <input readonly required th:field="*{id.repetition}" type="hidden">
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4" th:text="#{entity.acronym}">Akronym</span>
                        <input aria-label="Acronym" class="form-control" readonly required
                               th:field="*{acronym}"
                               th:value="*{acronym}"
                               type="text">
                    </div>
                    <div class="input-group mb-3" >
                        <span class="input-group-text col-lg-3 col-sm-4" th:text="#{dataset.singular}">Dataset</span>
                        <input aria-label="Dataset acronym" class="form-control"
                               id="datasetAcronym" name="datasetAcronym"
                               readonly required th:value="${datasetAcronym}" type="text">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4"
                              th:text="#{instrument.singular}">Přístroj</span>
                        <input aria-label="Instrument" class="form-control"
                               id="instrumentAcronym" name="instrumentAcronym"
                               readonly required th:value="${instrumentAcronym}" type="text">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" th:text="#{measurement.end}">Konec měření</span>
                        <input aria-label="Instrument"
                               placeholder="yyyy-MM-dd HH:mm:ss"
                               required th:field="*{end}" type="text">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" th:text="#{entity.tags}">Tagy</span>
                        <input aria-label="Tag" class="form-control"
                               maxlength="70" th:field="*{customMetadata['tags']}"
                               th:placeholder="#{form.optional} + ', ' + #{form.comma_separated}"
                               pattern="[a-zA-Z0-9\-\s,]+"
                               title="Vlož tagy oddělené čárkou. Použij pouze latinku, číslice nebo krátkou pomlčku.&#13;&#10;Insert tags comma-separated. Use only Latin characters, numbers or hyphens."
                               type="text">
                    </div>
                </fieldset>
                <div class="d-grid gap-2 mt-4 col-md-6 mx-auto">
                    <button class="btn btn-primary" th:text="#{button.end}" type="submit">Ukončit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
