.pq-ui-button {
    width: 32px;
    min-width: 32px;
    min-height: 32px;
    height: 32px;
    padding-top: 3px;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
    text-align: center;
    border-radius: 2px !important;
    background: #fff;
}
.pq-separator {
	margin: 8px 6px 0px 6px !important;
	min-height: 26px;
}
.pq-pager-input {
  height: 32px;
  width: 35px;
  margin-top: 3px;
}
.pq-grid {
	border: 1px solid lightgray !important;
}
.pq-grid-row {
  border-bottom: 1px dotted lightgray !important;
}
.pq-search-txt {
	margin: 0px !important;
}
.pq-theme input[type='text']:not(.pq-cell-editor), .pq-theme textarea, .pq-theme select {
/*   border-bottom: solid 1px #1782aa !important; */
	border-radius: 2px !important;
	min-height: 28px !important;
	height: 28px !important;
}
.pq-grid-footer {
	background: #e9e9e9;
	padding: 0px 2px 0px 2px !important;
	height: 42px !important;
}
.pq-grid-hd-search-field {
	margin-top: 3px;
}
.pq-toolbar {
	background: #e9e9e9;
}
.pq-popup {
	font-size: 8px !important;
}
.pq-loading > .pq-loading-mask {
	border: none;
}
.pq-grid-cell {
  line-height: 2.65rem !important;
  border: none !important;
}	
.pq-grid-col {
  border-width: 0px 0px 1px 0px !important;
}
.pq-grid-cell:focus {
  outline: 2px solid #5948ad;
}
.pq-state-select.ui-state-highlight {
  background: #efdfff !important;
}  
.pq-grid-cell-hover.ui-state-hover,
.pq-grid-row-hover.ui-state-hover {
  background: #ffefff !important;
}
.pq-col-sort-asc, .pq-col-sort-desc {
  background: #e9e9e9 !important;
}
.pq-grid-title-row {
  background: #e9e9e9 !important;
  height: 2.65rem !important;
}
div.pq-loading-mask > div {
	border: none !important;
}

