<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/header :: header}"><title>Placeholder</title></head>

<body>

<nav th:replace="~{fragments/navigation :: navigation(null)}"></nav>

<section class='section' sec:authorize="isAnonymous()">
    <div class='container'>
        <h2 class='mb-4 text-center' th:utext="#{misc.introduction.title}">
            Vítejte v <strong th:inline="text">DDRapp</strong>!
            <p>Aplikaci pro datově řízený výzkum</p>
        </h2>
    </div>
    <div class="container-fluid">
        <p class="mb-4" th:utext="#{misc.introduction.text}">
            Zjednodušte váš výzkumný proces s DDRapp, výkonnou webovou aplikací
            navrženou na doplnění specializovaných řešení pro provádění měření.<br><br>
            DDRapp se bezproblémově integruje s dalšími systémy, jako je GaP nebo S3, automatizuje
            zálohy dat a nabízí možnost elektronického exportu deníků měřicích přístrojů.<br><br>
            Jednoduše anotujte vaše data základními metadaty o měřicím procesu pomocí DDRapp.<br><br>
            Připojte se k nám ještě dnes a odemkněte plný potenciál vašeho výzkumu s DDRapp, což
            vám umožní správu dat bez námahy a zvýší produktivitu vašeho výzkumu jako nikdy předtím.
        </p>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-0 col-lg-2">
            <form th:action="@{/saml2/authenticate/ddr}">
                <button class='btn btn-primary btn-md' th:text="#{button.login_shib}" type='submit'>Přihlásit pomocí SSO</button>
            </form>
        </div>
        <div class="col-md-0 col-lg-2">
            <form th:action="@{/login}">
                <button class='btn btn-primary btn-md' th:text="#{button.login_card}" type='submit'>Přihlásit pomocí karty</button>
            </form>
        </div>
    </div>
</section>

<section class='section' sec:authorize="isAuthenticated()">
    <div class='container'>
        <div class='row'>
            <div class='col-md-0 col-lg-2'></div>
            <div class='col-md-12 col-lg-8 mt-3 shadow border border-1 portlet'>
                <div class='row d-flex' style='justify-content: start; align-items: center'>
                    <span class='fa-solid fa-microscope fa-2x fa-ddr mx-3'></span>
                    <div class='m-1 mt-3'><h3 th:text="#{instrument.plural}"></h3></div>
                </div>
                <div class='row p-3 my-1'>
                    <div class='pt-2'>Na vašem oddělení je evidováno 10 přístrojů z celkem 20 na vaší součásti.</div>
                    <div class='ml-auto'>
                        <a th:href="@{/registration/instrument}">
                            <button class='btn btn-outline-primary btn-big mr-2' type='button'
                                    th:title="#{instrument.register}">
                                <span class='fa-solid fa-add' style='font-size: 20px; padding-top: 4px;'></span>
                            </button>
                        </a>
                        <a th:href="@{/list/instruments}">
                            <button class='btn btn-primary btn-big mr-2' type='button' th:title="#{instrument.view}">
                                <span class='fa-solid fa-list' style='font-size: 20px; padding-top: 6px;'></span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-0 col-lg-2'></div>
            <div class='col-md-12 col-lg-8 mt-3 shadow border border-1 portlet'>
                <div class='row d-flex' style='justify-content: start; align-items: center'>
                    <span class='fa-solid fa-file-zipper fa-2x fa-ddr mx-3'></span>
                    <div class='m-1 mt-3'><h3 th:text="#{dataset.plural}"></h3></div>
                </div>
                <div class='row p-3 my-1'>
                    <div class='pt-2'>Na vašem oddělení je aktuálně 10 otevřených datasetů z celkem 20 na vaší
                        součásti.
                    </div>
                    <div class='ml-auto'>
                        <a th:href="@{/registration/dataset}">
                            <button class='btn btn-outline-primary btn-big mr-2' type='button'
                                    th:title="#{dataset.create}">
                                <span class='fa-solid fa-add' style='font-size: 20px; padding-top: 4px;'></span>
                            </button>
                        </a>
                        <a th:href="@{/list/datasets(byEntity='user', byId=${#authentication.name}, byAcronym=${#authentication.name}, activeOnly='true')}">
                            <button class='btn btn-primary btn-big mr-2' type='button' th:title="#{dataset.view}">
                                <span class='fa-solid fa-list' style='font-size: 20px; padding-top: 6px;'></span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-0 col-lg-2'></div>
            <div class='col-md-12 col-lg-8 mt-3 shadow border border-1 portlet'>
                <div class='row d-flex' style='justify-content: start; align-items: center'>
                    <span class='fa-solid fa-ruler-combined fa-2x fa-ddr mx-3'></span>
                    <div class='m-1 mt-3'><h3 th:text="#{measurement.plural}"></h3></div>
                </div>
                <div class='row p-3 my-1'>
                    <div class='pt-2'>Na vašem oddělení je aktuálně 10 běžících měření z celkem 20 na vaší součásti.
                    </div>
                    <div class='ml-auto'>
                        <a th:href="@{/registration/measurement(byEntity='user', byId=${#authentication.name}, byAcronym=${#authentication.name})}">
                            <button class='btn btn-outline-primary btn-big mr-2' type='button'
                                    th:title="#{measurement.start}">
                                <span class='fa-solid fa-add' style='font-size: 20px; padding-top: 4px;'></span>
                            </button>
                        </a>
                        <a th:href="@{/list/measurements(byEntity='user', byId=${#authentication.name}, byAcronym=${#authentication.name}, activeOnly='true')}">
                            <button class='btn btn-primary btn-big mr-2' type='button' th:title="#{measurement.view}">
                                <span class='fa-solid fa-list' style='font-size: 20px; padding-top: 6px;'></span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-0 col-lg-2'></div>
            <div class='col-md-12 col-lg-8 mt-3 shadow border border-1 portlet'>
                <div class='row d-flex' style='justify-content: start; align-items: center'>
                    <span class='fa-solid fa-calendar-days fa-2x fa-ddr mx-3'></span>
                    <div class='m-1 mt-3'><h3 th:text="#{reservation.plural}"></h3></div>
                </div>
                <div class='row p-3 my-1'>
                    <div class='pt-2'>Aktualně máte 10 rezervací.</div>
                    <div class='ml-auto'>
                        <a th:href="@{/registration/reservation}">
                            <button class='btn btn-outline-primary btn-big mr-2' type='button'
                                    th:title="#{reservation.register}">
                                <span class='fa-solid fa-add' style='font-size: 20px; padding-top: 4px;'></span>
                            </button>
                        </a>
                        <a th:href="@{/list/reservations}">
                            <button class='btn btn-primary btn-big mr-2' type='button' th:title="#{reservation.view}">
                                <span class='fa-solid fa-list' style='font-size: 20px; padding-top: 6px;'></span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
