<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header}"></head>

<body>

<nav th:replace="~{fragments/navigation :: navigation(null)}"></nav>

<script th:replace="~{fragments/alert :: alert}"></script>

<script>

    $(document).ready(function() {
      $( '#saveBtn' ).click(function(evt){
        controls.spinBtn('fa-save');
        $('#userForm').submit();
      });
    });

</script>

<section class='section pb-0'>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-12 col-md-12 m-2 p-2 shadow border border-1'>
                <div class='d-flex' style='justify-content: start; align-items: center'>
                    <span class='fa-solid fa-user fa-2x fa-ddr ml-3'></span>
                    <div class='ml-3 mt-3 mb-1'><h3 th:text="#{profile.singular}"></h3></div>
                </div>
                <div>
                    <form class="form-floating px-5 py-3" id='userForm' action="#" method="POST"
                          th:action="${#authorization.expression('hasRole(''ADMINISTRATOR'')') ? '/modification/user/updateProfile' : '/modification/user/updateProfileRequest'}"
                          th:object="${userProfile}">
                        <div class="row input-group pt-1 m-0 align-middle">
                            <label for="tenant" class="col-form-label col-sm-12 col-md-3 mt-2 p-0"
                                   th:text="#{user.tenant}">Tenant</label>
                            <div class="col-sm-12 col-md-9 mb-2 px-0">
                                <input class="form-control" readonly th:field="*{tenant}" type="number" min="1"/>
                            </div>
                        </div>
                        <div class="row input-group pt-1 m-0 align-middle">
                            <label for="email" class="col-form-label col-sm-12 col-md-3 mt-2 p-0"
                                   th:text="#{user.email}">Email</label>
                            <div class="col-sm-12 col-md-9 mb-2 px-0">
                                <input class="form-control" readonly th:field="*{email}" type="text"/>
                            </div>
                        </div>
                        <div class="row input-group pt-1 m-0 align-middle">
                            <label for="einfraid" class="col-form-label col-sm-12 col-md-3 mt-2 p-0">E-infra ID</label>
                            <div class="col-sm-12 col-md-9 mb-2 px-0">
                                <input class="form-control" th:field="*{einfraId}" type="text"/>
                            </div>
                        </div>
                        <div class="row input-group pt-1 m-0 align-middle">
                            <label for="department" class="col-form-label col-sm-12 col-md-3 mt-2 p-0"
                                   th:text="#{entity.department}">Department</label>
                            <div class="col-sm-12 col-md-9 mb-2 px-0">
                                <select class="form-control form-select custom-select" th:field="*{uDepartmentAcronym}">
                                    <option th:each="choice : ${T(cz.tul.cxi.ddr.model.auxiliary.DepartmentAcronym).values()}"
                                            th:text="${choice}" th:value="${choice}">
                                        department
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row input-group pt-1 m-0 align-middle">
                            <label for="department" class="col-form-label col-sm-12 col-md-3 mt-2 p-0"
                                   th:text="#{user.role}">Role</label>
                            <div class="col-sm-12 col-md-9 mb-2 px-0">
                                <select class="form-control form-select custom-select" th:field="*{role}">
                                    <option th:each="choice : ${T(cz.tul.cxi.ddr.model.auxiliary.UserRole).values()}"
                                            th:text="${choice.__${#locale.language}__()}" th:value="${choice}">
                                        role
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row input-group pt-1 m-0 align-middle">
                            <label for="lang" class="col-form-label col-sm-12 col-md-3 mt-2 p-0" th:text="#{user.lang}">Lang</label>
                            <div class="col-sm-12 col-md-9 mb-2 px-0">
                                <select class="form-control form-select custom-select" th:field="*{lang}">
                                    <option value="cs">cs</option>
                                    <option value="en">en</option>
                                </select>
                            </div>
                        </div>
                        <div class="row align-right mt-3">
                            <button class="btn btn-primary btn-fixed ml-auto" id='saveBtn' type="button">
                                <span class="fa fa-save btn-icon"></span>
                                <span th:text="${#authorization.expression('hasRole(''ADMINISTRATOR'')')} ? #{button.change} : #{button.request_change}">Změnit</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="mt-auto" th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
